* {
  padding: 0;
  margin: 0;
}

.container {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-grid {
  display: flex;
  border: solid 1px red;
  min-width: 15vw;
  max-width: 15vw;
  max-height: 40vh;
  min-height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.book-grid img {
  max-height: 250px;
  min-height: 250px;
  border-radius: 5px;
}

.book-grid img:hover {
  transform: scale(1.05);
}
