:root {
  font-size: x-large;
}

.header {
  display: flex;
  background-color: #7ac08e;
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #363031;
  margin: 10px;
  padding: 5px;
  transition: 0.3s;
}

a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  /* background-color: #f4511e; */
  color: #a386ac;
}

ul {
  display: flex;
  list-style: none;
  color: whitesmoke;
}

input {
  border: none;
}
