:root {
  background-color: #e9e6de;
  color: grey;
  font-family: "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
