.modal {
  position: fixed;
  top: 5vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px red;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 70vw;
  gap: 20px;
  border: solid 1px blue;
}

.modal-content {
  border-radius: 5px;
  text-align: center;
  border: solid 1px yellow;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button,
input {
  color: white;
}
